USE [master]
GO
/****** Objeto: Database [bbdd_fp] Fecha de script: 26/05/2026 7:46:58 ******/
CREATE DATABASE [bbdd_fp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bbdd_fp', FILENAME = N'D:\Program Files\MSSQL17.SQLEXPRESS\MSSQL\DATA\bbdd_fp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bbdd_fp_log', FILENAME = N'D:\Program Files\MSSQL17.SQLEXPRESS\MSSQL\DATA\bbdd_fp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bbdd_fp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bbdd_fp]
GO
/****** Objeto: Table [dbo].[matriculas] Fecha de script: 26/05/2026 7:46:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matriculas](
	[id_matricula] [tinyint] NOT NULL,
	[id_alumno] [tinyint] NOT NULL,
	[curso_academico] [nvarchar](50) NOT NULL,
	[fecha_matricula] [date] NOT NULL,
	[estado_pago] [nvarchar](50) NULL,
	[importe_pagado] [smallint] NOT NULL,
	[estado_matricula] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[resultados_academicos] Fecha de script: 26/05/2026 7:46:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultados_academicos](
	[id_alumno] [tinyint] NOT NULL,
	[id_asignatura] [tinyint] NOT NULL,
	[evaluacion] [nvarchar](50) NOT NULL,
	[nota_media] [float] NOT NULL,
	[asistencia_porcentaje] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[matriculas] ([id_matricula], [id_alumno], [curso_academico], [fecha_matricula], [estado_pago], [importe_pagado], [estado_matricula]) VALUES (1, 1, N'2024/2025', CAST(N'2023-10-08' AS Date), N'Pendiente', 2214, N'Activa')
INSERT [dbo].[matriculas] ([id_matricula], [id_alumno], [curso_academico], [fecha_matricula], [estado_pago], [importe_pagado], [estado_matricula]) VALUES (2, 2, N'2023/2024', CAST(N'2025-09-07' AS Date), N'Pagado', 2423, N'Activa')
INSERT [dbo].[matriculas] ([id_matricula], [id_alumno], [curso_academico], [fecha_matricula], [estado_pago], [importe_pagado], [estado_matricula]) VALUES (3, 3, N'2023/2024', CAST(N'2024-01-31' AS Date), N'Pagado', 2216, N'Activa')
GO
INSERT [dbo].[resultados_academicos] ([id_alumno], [id_asignatura], [evaluacion], [nota_media], [asistencia_porcentaje]) VALUES (1, 19, N'1ª', 75, 829)
INSERT [dbo].[resultados_academicos] ([id_alumno], [id_asignatura], [evaluacion], [nota_media], [asistencia_porcentaje]) VALUES (1, 19, N'2ª', 78, 1000)
INSERT [dbo].[resultados_academicos] ([id_alumno], [id_asignatura], [evaluacion], [nota_media], [asistencia_porcentaje]) VALUES (1, 19, N'3ª', 60, 815)
GO
USE [master]
GO
